<%- include('template/header') -%>


<div class="part">
	<h1 class="huge">The Wall</h1>
	<div class="separator-large"></div>
	<form action="/" method="post">
		<input id="text" class="textbox-line" title="" name="text" type="password" onblur="this.focus()" autofocus>
	</form>
</div>

<div class="separator"></div>


<%- include('template/footer') -%>
